.resultPage {
  background: #a2c7d7;

  .title {
    color: white;
    padding-top: 48px;
    text-align: center;
  }
  .subTitle {
    color: white;
    text-align: center;
    margin-bottom: 48px;
  }

  .controlButton {
    width: 60vw;
  }
}
